[Unit]
Description=ProyectoFinalDAW Spring Boot Backend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/proyectofinal/backend
EnvironmentFile=/opt/proyectofinal/backend/.env
ExecStart=/usr/bin/java -jar /opt/proyectofinal/backend/backend.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
